<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ifp.planegame">

    <application
        android:label="PlaneGame"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name=".GameActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize" />

        <activity
            android:name=".MainActivity"
            android:exported="true"> <!-- ESTO ES LO QUE FALTABA -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>
</manifest>
